@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background: linear-gradient(to bottom right, #700296, #22002e);
	display: flex;
	justify-content: center;
	align-items: center;
}

.app {
	width: 1200px;
	height: 600px;
	display: flex;
}

.nav {
	width: 25%;
	height: 100%;
	background: #24013b;
	padding: 10px;
}

#toggleNavbar {
	display: none;
}

.logo {
	padding: 10px 0 20px;
}

.nav img {
	width: 120px;
	height: 120px;
	display: block;
	margin: 15px auto 5px;
	border-radius: 50%;
	filter: contrast(110%);
	box-shadow: 0 0 5px black;
}

.logo-name {
	display: block;
	text-align: center;
	font-family: 'Lobster Two', cursive;
	font-size: 20px;
	color: rgb(221, 221, 221);
	letter-spacing: 2px;
}

.nav nav {
	border-top: 1px solid gray;
	padding-top: 10px;
}

.nav nav button {
	color: rgb(158, 158, 158);
	display: block;
	width: 100%;
	background: transparent;
	border: none;
	text-align: left;
	font-size: 1.1em;
	padding: 12px 15px;
	transition: all .3s;
	position: relative;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	letter-spacing: 1px;
}

.nav nav button::after {
	content: '';
	position: absolute;
	top: 50%;
	transform: translateY(-50%) rotate(45deg);
	right: -17px;
	border: 7px solid white;
	border-color: transparent transparent white white;
	display: none;
	transition: all .3s;
}

.nav nav button:focus::after {
	display: inline-block;
}

.nav nav button:hover {
	background: rgba(255, 255, 255, 0.411);
	color: white;
}

.nav nav button:focus {
	outline: none;
}

.content {
	height: 100%;
	width: 75%;
	background: linear-gradient(white, #ebebeb);
}

.title {
	padding: 17px 0;
	font-size: 2.5em;
	text-align: center;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	letter-spacing: 2px;
	font-weight: 600;
	position: relative;
}

.title::after {
	content: '';
	height: 3px;
	width: 5%;
	position: absolute;
	bottom: 12px;
	left: 50%;
	transform: translateX(-50%);
	background: #700296;
	display: block;
}

.skills {
	background: #eec9fa;
	height: 513px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.skill {
	background: white;
	box-shadow: 0 0 5px gray;
	border-radius: 10px;
	margin: 5px;
	/* margin: 10px auto; */
	width: 70%;
	padding: 20px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	transition: transform .3s;
}

.skill:hover {
	transform: scale(1.1);
}

.language {
	display: block;
	padding-bottom: 10px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	letter-spacing: 1px;
}

.progress {
	height: 15px;
	display: block;
	box-shadow: inset 0 0 3px rgb(68, 68, 68);
	border-radius: 15px;
}

.html, .css, .javascript, .react, .git {
	background: linear-gradient(#700296, #43015c);
	height: 100%;
	display: block;
	border-radius: 15px;
}

.html {
	animation: html 2s;
	width: 70%;
}

.css {
	animation: css 2s;
	width: 80%;
}

.javascript {
	animation: javascript 2s;
	width: 65%;
}

.react {
	animation: react 2s;
	width: 60%;
}

.git {
	animation: git 2s;
	width: 50%;
}

@keyframes html {
	0% {
		width: 0%;
	}
	100% {
		width: 70%;
	}
}

@keyframes css {
	0% {
		width: 0%;
	}
	100% {
		width: 80%;
	}
}

@keyframes javascript {
	0% {
		width: 0%;
	}
	100% {
		width: 65%;
	}
}

@keyframes react {
	0% {
		width: 0%;
	}
	100% {
		width: 60%;
	}
}

@keyframes git {
	0% {
		width: 0%;
	}
	100% {
		width: 50%;
	}
}

/* for 'Projects' section */

.contact {
	height: 513px;
	background: rgb(137, 106, 209);
	display: flex;
	justify-content: center;
	align-items: center;	
}

.contact-container {
	background: white;
	width: 600px;
	height: 350px;
	padding: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-radius: 15px;
	box-shadow: 0 0 15px rgb(87, 87, 87);
	animation: formAnimation 1.5s ease-out;
}

@keyframes formAnimation {
	0% {
		transform: scale(1);
		box-shadow: 0 0 15px rgb(87, 87, 87);
	}
	33% {
		transform: scale(1.1) rotate(-10deg);
		box-shadow: 0 0 3px rgb(87, 87, 87);
	}
	66% {
		transform: scale(1.1) rotate(10deg);
		box-shadow: 0 0 3px rgb(87, 87, 87);
	}
	100% {
		transform: scale(1) rotate(0deg);
		box-shadow: 0 0 15px rgb(87, 87, 87);
	}
}

.contact-container img {
	opacity: .6;
}

.contact-container form {
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
	padding: 10px 20px;
	height: 100%;
	width: 250px;
}

.get-in-touch {
	margin-bottom: 10px;
	font-size: 17px;
	letter-spacing: .5px;
}

.name-input, .email-input {
	position: relative;
	margin-bottom: 5px;
}

.name-input input,
.email-input input,
#message-area {
	padding: 7px 10px 7px 30px;
	width: 100%;
	font-size: 12px;
	border: none;
	background: rgba(185, 185, 185, 0.425);
	border-radius: 15px;
}

.name-input input:focus,
.email-input input:focus,
#message-area,
input[value="Send"] {
	outline: none;
}

.name-input i,
.email-input i {
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%) scale(.6);
	opacity: .4;
}

#message-area {
	resize: none;
	overflow-y: hidden;
	padding: 8px 10px;
	height: 80px;
	text-indent: 1em;
	text-align: justify;
}

input[value="Send"] {
	width: 100%;
	padding: 7px;
	border: none;
	background: rgb(137, 106, 209);
	border-radius: 15px;
	color: white;
	font-size: 11px;
	font-weight: 500;
	margin-top: 30px;
	transition: all .3s;
}

input[value="Send"]:hover {
	background: rgba(137, 106, 209, 0.822);
}