* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background: linear-gradient(to bottom right, #700296, #22002e);
	display: flex;
	justify-content: center;
	align-items: center;
}

.app {
	width: 1200px;
	height: 600px;
	display: flex;
}

.nav {
	width: 25%;
	height: 100%;
	background: #24013b;
	padding: 10px;
}

.logo {
	padding: 10px 0 20px;
}

.nav img {
	width: 120px;
	height: 120px;
	display: block;
	margin: 15px auto 5px;
	border-radius: 50%;
}

.logo-name {
	text-align: center;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 20px;
	color: rgb(221, 221, 221);
}

.nav nav {
	border-top: 1px solid gray;
	padding-top: 10px;
}

.nav nav button {
	color: rgb(158, 158, 158);
	display: block;
	width: 100%;
	background: transparent;
	border: none;
	text-align: left;
	padding: 12px 15px;
	transition: all .3s;
	position: relative;
}

.nav nav button::after {
	content: '';
	position: absolute;
	top: 50%;
	transform: translateY(-50%) rotate(45deg);
	right: -17px;
	border: 7px solid white;
	border-color: transparent transparent white white;
	display: none;
	transition: all .3s;
}
.nav nav button:hover::after {
	display: inline-block;
}

.nav nav button:hover {
	background: rgba(255, 255, 255, 0.411);
	color: white;
}

.content {
	height: 100%;
	width: 75%;
	background: linear-gradient(white, #ebebeb);
}

.title {
	padding: 17px 0;
	font-size: 2.5em;
	text-align: center;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	letter-spacing: 2px;
	font-weight: 600;
	position: relative;
}

.title::after {
	content: '';
	height: 3px;
	width: 5%;
	position: absolute;
	bottom: 12px;
	left: 50%;
	transform: translateX(-50%);
	background: #700296;
	display: block;
}

.skills {
	background: rgb(252, 248, 221);
	height: 507px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.skill {
	background: white;
	box-shadow: 0 0 5px gray;
	border-radius: 10px;
	margin: 5px;
	/* margin: 10px auto; */
	width: 70%;
	padding: 20px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	transition: transform .3s;
}

.skill:hover {
	transform: scale(1.1);
}

.language {
	display: block;
	padding-bottom: 10px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	letter-spacing: 1px;
}

.progress {
	height: 15px;
	display: block;
	box-shadow: inset 0 0 3px rgb(68, 68, 68);
	border-radius: 15px;
}

.html, .css, .javascript, .react, .git {
	background: linear-gradient(#fac400, #c29800);
	height: 100%;
	display: block;
	border-radius: 15px;
}

.html {
	animation: html 2s;
	width: 70%;
}

.css {
	animation: css 2s;
	width: 80%;
}

.javascript {
	animation: javascript 2s;
	width: 65%;
}

.react {
	animation: react 2s;
	width: 60%;
}

.git {
	animation: git 2s;
	width: 50%;
}

@keyframes html {
	0% {
		width: 0%;
	}
	100% {
		width: 70%;
	}
}

@keyframes css {
	0% {
		width: 0%;
	}
	100% {
		width: 80%;
	}
}

@keyframes javascript {
	0% {
		width: 0%;
	}
	100% {
		width: 65%;
	}
}

@keyframes react {
	0% {
		width: 0%;
	}
	100% {
		width: 60%;
	}
}

@keyframes git {
	0% {
		width: 0%;
	}
	100% {
		width: 50%;
	}
}